
.clear{
    clear: both;
}
.larger_icon{
    line-height: 60px;
    font-size: 60px;
}
.badge{
    background: #24c0eb;
    margin-left: 5px;
}

#top_links{
    background: #3199e3;
}
#top_links #top_links_container{
    min-height: 40px;
}
#top_links_container a{
    color: #fff;
    line-height: 40px;
    margin-right: 20px;
}
#top_links #top_search_box{
    
}
#top_search_box{
    margin-top: 3px;
}
#top_search_box{
    
}

#top_banner{
    padding: 20px;
}
#top_flash_item{
    font-size: 14px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom:10px; 
}
#top_flash_item img{
    float: left;
}
#top_flash_item .col-md-3{
    cursor: pointer;
}
#top_flash_item .col-md-3 .item_border{
    border: 1px solid #f1f1f1;
    padding: 5px 0;
    height: 50px;
    margin-bottom: 5px;
}
#site_slogan{
    display: block;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
}

#top_bottom_line{
    height: 12px;
    margin-bottom: 3px;
    background-color: #5CCEEE;
}

#home_navi_slide{
    padding: 5px 0;
}
.form-error{
    border-color: #a94442;
}

/**  menu    **/
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
    border-bottom: 1px solid #EEE8E8;
  }
  .sidebar-nav .navbar li:last-child {
    border-bottom: none;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
/* end menu */

/* a box style */
.a_box{
    margin-bottom: 10px;
}
.a_box .box_header{
    background: #5CCEEE;
    min-height: 35px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.a_box .box_header h2{
    font-size: 110%;
    color: #fff;
    font-weight: bold;
    padding: 10px 5px 10px 15px;
    margin: 0px;
}
.a_box .box_header h2 a{
    color: #fff;
    font-weight: bold;
    line-height: 18px;
}
.a_box .box_header a.child_cat{
    font-size: 100%;
}
.a_box .box_body{
    border-left: 1px solid #EEE8E8;
    border-right: 1px solid #EEE8E8;
    border-bottom: 1px solid #EEE8E8;
    padding: 10px 5px 0px 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.a_box .box_body div.cat-cover-vertical img{
    width: 100%;
}
.a_box .body-left{
    padding: 0 5px;
}
.a_box .body-right{
    padding: 0 2px;
}
.a_item{
    
}
.a_item .a_item_container{
    border-radius: 4px;
    border: 1px solid #EEE8E8;
    padding: 10px;
    margin: 0 -10px 10px -10px;
}
.a_item .img{
    position: relative;
    width: 100%;		/* desired width */
}
.a_item .img:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
}
.a_item .img .vimage{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.a_item .img img{
    width: 100%;
}
.a_item .caption{
    line-height: 18px;
    height: 41px;
    text-align: center;
    display: block;
    padding-top: 5px;
}
.a_item .price{
    line-height: 18px;
    height: 18px;
    text-align: center;
    display: block;
    color: #f00;
    font-weight: bold;
    padding-top: 5px;
}
.a_item{
}

/** footer menu **/
.bottom-menu{
    margin-top:50px; 
    padding: 0px;
}
.nav-footer{
    
}
.nav-footer>li{
    float: right;
}
/* footer */
#page_footer{
    padding-top: 10px;
    border-top: 2px solid #5cceee;
}
#footer_counter{
    border-top: 2px solid #5cceee;
    line-height: 24px;
    background: #EEE8E8;
    padding-left: 10px;
}
/* end footer */

/* nav bar get from http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0 */
.navbar-default {
  background-color: #5cceee;
  border-color: #24c0eb;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #eee8e8;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #eee8e8;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #eee8e8;
  background-color: #24c0eb;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #eee8e8;
  background-color: #24c0eb;
}
.navbar-default .navbar-toggle {
  border-color: #24c0eb;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #24c0eb;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #eee8e8;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eee8e8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eee8e8;
    background-color: #24c0eb;
  }
}
/* end navbar */